// Define variable defaults
$green:  #00874E;
$yellow: #E8CF00;
$info : #EEF7F3;

$component-active-bg:$green;

$success : $green;
$warning: $yellow;
$info :$info; 


//pagination  
$pagination-active-bg: $green;
$pagination-active-color: white;
$pagination-color: black;
$pagination-border-color:$green;
$pagination-hover-border-color:$green;


$form-check-input-checked-bg-color: $green;



//Faq 
$accordion-icon-color: $green;
$accordion-button-icon: url("data:image/svg+xml,<svg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path class='' fill='#{$accordion-icon-color}' d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z'></path></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg  aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path class='' fill='#{$accordion-icon-color}' d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM184 232H328c13.3 0 24 10.7 24 24s-10.7 24-24 24H184c-13.3 0-24-10.7-24-24s10.7-24 24-24z'></path></svg>");
 

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
  }
  

  @font-face {
    font-family: 'Noto Sans';
    src: url('assets//fonts/NotoSans-Regular.ttf') format('truetype');
  }
  

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif; 
  }
  
  body {
    font-family: 'Noto Sans', sans-serif;
    /* Autres styles de la typographie de contenu avec Noto Sans */
  }